stepper {
	align-items: center;
	display: flex;
	>.item {
		display: flex;
		input[type="number"] {
			margin: auto 5px;
			text-align: center;
			width: 10vw;
			margin: 0;
			color: #FFF;
			background-color: $darkRedColor;
			border: 1px solid $darkRedColor;
			border-radius: 0;
			height:24px;
		}
		button {
			padding: 0;
			height: 24px;
			color: $darkRedColor;
			width: 24px;
			overflow: hidden;
			font-size: 18px;
			background-color: transparent;
			border: 1px solid $darkRedColor;
			text-align: center;
			vertical-align: middle;
			font-family: san-serif;
			font-weight: bold;
		}
	}
}


