<div class="item  item-borderless">
	{{title | translate}}
	&nbsp;
	<button (click)="decrement()">
		-
	</button>

	<input type="number" [(ngModel)]="counterValue"/>

	<button (click)="increment()">
		+
	</button>
</div>