<app-header [title]="'ITEMS'"></app-header>


<ion-content class="page-background">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="tabs-menu">
        <ion-searchbar (ionInput)="searchProducts($event)" [(ngModel)]="searchInput"
                       [placeholder]="'SEARCH' | translate"></ion-searchbar>
    </div>


    <div class="tabs-menu" *ngIf="searchInProcess" style="display:flex;justify-content: center;">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <ion-slides #mySlider (ionDidChange)="onSlideChanged()">
        <ion-slide padding>

            <h4 class="lefta">{{items.length}} {{'ITEMS FOUND' | translate}} </h4>

            <ion-list class="items-list">
                <ion-item *ngFor="let item of items" (click)="itemSelect(item)">
                    <img class="item-image" src="{{getImagePath(item.product_img)}}">
                    <div class="item-details">
                        <div class="item-name">
                            <div class="product_name">
                                {{item.product_name}}
                            </div>
                            <div class="paymenticon">
                                <div *ngFor="let option of item.payment_options">
                                    <img *ngIf="option.code == 'cod'" class="item-image"
                                         src="./assets/img/ico/efectivo.png">
                                    <img *ngIf="option.code == 'mercadopago'" class="item-image"
                                         src="./assets/img/ico/mercadopago.png">
                                    <img *ngIf="option.code == 'todopago'" class="item-image"
                                         src="./assets/img/ico/todopago.png">
                                    <img *ngIf="option.code == 'payu'" class="item-image"
                                         src="./assets/img/ico/payu.png">
                                </div>
                            </div>
                        </div>
                        <div class="item-description">
                            <div class="left" [ngClass]="{'cutprice':item.promotional_price}">${{item.price}}</div>
                            <div class="right" *ngIf="item.promotional_price">${{item.promotional_price}}</div>
                        </div>
                        <div class="item-price"> {{'DELIVERY' | translate}} ${{item.delievery_price}} <span
                                class="right">{{item.delivery_time}} min</span></div>
                    </div>
                </ion-item>
            </ion-list>

            <div class="no-result" *ngIf="!items || items.length==0">
                No se han encontrado resultados
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
