page-items {
 .scroll-content {
  overflow-x: hidden;
  overflow-y: hidden;
}



.has-refresher > .scroll-content {
  margin-top: 57px;
}


ion-searchbar{
  .searchbar-input-container{
      .searchbar-input{
          border-radius: 30px !important;
      }
  }
}

.searchbar {
  background-color:  white;
}

.lefta {
  text-align: left;
  font-size: 15px;
}


.list.items-list > .item .item-image {
  float: left;
  width: 30vw;
  height: 20vw;
  border-radius: 8px;
}

.list.items-list > .item .item-details {
  float: left;
  padding-left: 15px;
  width: calc(100% - 30vw);
}


.list.items-list > .item .item-details{
  color: #97969e;
  .item-name {
    font-size: 20px !important;
    color: #000 !important;
    display:flex;
    .product_name {
      flex:1;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
    }
    .paymenticon {
      display:flex;
      img {
        margin-left:5px;
        width: auto !important;
        float: right !important;
        object-fit: contain;
        height: 24px !important;
      }
    }
  }
  .item-description {
    margin-top:5px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item-price {
  font-size: 14px !important;
  margin-top: 5px !important;
}

ion-refresher {
  top:57px;
}
.has-refresher > .scroll-content {
  margin-top: 57px;
  background-color: #ffffff;
}

.swiper-container{
  overflow-y: scroll!important;
  height: calc(100% - 50px);
  width: 100%;

  .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: top; 
    font-size: 18px;
    display: flex; 
    align-items: flex-start;
  }
}

.loading-spinner-center {
  height: 100%;
  padding: calc(50% - 14px);
  position: relative;
  text-align: center;
  width: 100%;
}

.tabs-menu {
  display: flex;
  overflow-x: hidden;
  position: relative;
  z-index: 9;
  border-bottom: solid 1px #eee;
  background: #fff;
  a {
    color: #929292;
    padding: 15px 0;
    text-decoration: none;
    display: inline-block;
    width: auto;
    min-width: 100px;
    text-align: center;
    &.active{
      color:#86D44D!important;
      border-bottom:solid 3px #86D44D!important;
      background: #f7f7f7;
    }
  }
}
}
