<app-header [title]="'THANK YOU'" [showCart]="false" [hideBackButton]="true"></app-header>

<ion-content class="page-background" padding>
	<img class="thank-you-img" src="./assets/img/thank-you.png"/>
	<div class="thank-you-text" [innerHTML]="message"></div>
	<button class="btn-success btn-block" (click)="continue()">{{ 'CONTINUE' | translate }}</button>
</ion-content>
