page-thank-you {
	.thank-you-img {
		float: left;
		width: 100%;
		height: 200px;
		object-fit: contain;
		// background-image: url('../assets/img/thank-you.png');
		// background-size:contain;                      
		// background-repeat:no-repeat;
		// background-position: center center; 
		// background-color: transparent;
	}
	.thank-you-text {
		width: 100%;
		float: left;
		text-align: center;
		color: $tertiaryTextColor;
		padding: 10%;
		font-size: 26px;
	}
	.btn-success {
		float: left;
	}
}
