page-login {

    .segment {
        margin-bottom: 20px;
        .segment-button {
            font-size: 15px;
            background-color: transparent !important; 
            border:none !important;
            border-radius: 0 !important; 
            border-bottom-width: 2px !important;
            border-bottom-style: solid !important;
            border-bottom-color: rgba(0, 0, 0, 0.1) !important;          
            color: $secondaryTextColor;
            &.segment-activated {
                color: $secondaryTextColor;
                border-bottom-color: $secondaryTextColor !important;
            }
        }
    }
    .content-md {
        color: #000;
        background-color: #fff !important;
    }
    .item {
        margin-bottom: 11px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0;
        color: $tertiaryTextColor;
        padding-bottom: 10px;
        .item-inner {
            border-bottom: none !important;
            box-shadow: none !important;
            .input ,
            .datetime,
            .select {
                border-bottom: 1px solid #666;
                margin-left: 16px;
            }
            .label {
                padding: 0 8px;
                font-size: 15px;
            }
            .select {
                margin-left: 9px;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
        
    }
    .recover-pass-link {
        text-align:center;
        line-height: 35px;
        a:hover {
            text-decoration: underline
        }
    }

}

