<app-header [title]="'LOGIN/SIGNUP'"></app-header>



<ion-content class="page-background" padding>

	<ion-segment [(ngModel)]="loginsignup">
		<ion-segment-button value="login">
			{{ 'LOGIN' | translate}}
		</ion-segment-button>
		<ion-segment-button value="newUser">
			{{ 'NEW USER' | translate}}
		</ion-segment-button>
	</ion-segment>


	<div [ngSwitch]="loginsignup">
		<ion-list *ngSwitchCase="'login'">
			<ion-item>
				<ion-label stacked>{{ 'EMAIL ADDRESS' | translate }}</ion-label>
				<ion-input type="text" [(ngModel)]="emailLogin"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
				<ion-input type="password" [(ngModel)]="passwordLogin"></ion-input>
			</ion-item>

			<button class="btn-success btn-block" (click)="login()">{{ 'SIGN IN' | translate }}</button>

			<ion-item class="recover-pass-link">
				<a [navPush]="forgotPasswordPage" >¿{{'RESET PASSWORD' | translate }}?</a>
			</ion-item>

		</ion-list>


		<ion-list *ngSwitchCase="'newUser'">
			<ion-item>
				<ion-label stacked>{{ 'FIRST NAME' | translate }}*</ion-label>
				<ion-input type="text" [(ngModel)]="nameSignup"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>{{ 'LAST NAME' | translate }}*</ion-label>
				<ion-input type="text" [(ngModel)]="lnameSignup"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>{{ 'EMAIL ADDRESS' | translate }}</ion-label>
				<ion-input type="text" [(ngModel)]="emailSignup" ></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>{{ 'MOBILE NUMBER' | translate }}*</ion-label>
				<ion-input type="text" [(ngModel)]="mobileSignup" (input)="onMobileChange()"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>{{ 'PASSWORD' | translate }}*</ion-label>
				<ion-input type="password" [(ngModel)]="passwordSignup"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>{{ 'DOB' | translate }}</ion-label>
				<ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="dobSignup"></ion-datetime>
			</ion-item>

			<!-- <ion-item>
				<ion-label stacked>{{ 'ANNIVERSARY DATE' | translate }}</ion-label>
				<ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="anniversaryDateSignup"></ion-datetime>
			</ion-item> -->


			<ion-item>
				<ion-label stacked>{{ 'CITY' | translate }}</ion-label>
				<ion-select [(ngModel)]="citySignup">
					<ion-option *ngFor="let city of citiesList" [value]="city.id">{{city.city_name}}</ion-option>
				</ion-select>
			</ion-item>
			<button class="btn-success btn-block" (click)="signUp()">{{ 'SIGN UP' | translate }}</button>


		</ion-list>
	</div>
</ion-content>

