<ion-content padding>
	<!--ion-grid class="p0">
		<ion-row class="logoicon">
			<ion-col col-12 class="p0">
				<img class="one" src="./assets/img/snappy-logo.png" alt="upload" />
			</ion-col>
		</ion-row>
	</ion-grid-->


	<ion-grid class="espacio">
		<ion-row class="secion">
				<ion-col col-12 class="p0">
						<img class="one" src="./assets/img/snappy.png" alt="upload" height="40px" width="100px"/>
					</ion-col>
			<ion-col col-12>
				<p>¡Selecciona tú país para iniciar!</p>
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-grid class="forms">
		<ion-row>
			<ion-col col-12>
				<ion-item>
					<ion-select style="padding-left: 8px; color: gray;" [(ngModel)]="myCountry" placeholder="{{ 'COUNTRY' | translate}}">
						<ion-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<button  ion-button color="light" class="btn-block" ion-button full (click)="saveCountry()">Iniciar</button>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>
