<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<app-header [title]="'RESET PASSWORD'" [showCart]="false"></app-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label stacked>{{  'RESET PASSWORD MESSAGE' | translate }}</ion-label>
			<ion-input type="text" [(ngModel)]="email" [placeholder]="'EMAIL ADDRESS' | translate"></ion-input>
		</ion-item>

		<button class="btn-success btn-block" (click)="forgotPassword()">{{ 'SEND' | translate }}</button>

	</ion-list>
</ion-content>
