<app-header [title]="'CATEGORY'"></app-header>


<ion-content class="page-background">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-searchbar (ionInput)="searchProducts($event)" [placeholder]="'SEARCH' | translate"
                   [(ngModel)]="searchInput"></ion-searchbar>

    <div class="tabs-menu" *ngIf="searchInProcess" style="display:flex;justify-content: center;">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <!--h4 class="itemscount" *ngIf="categories">{{categories.length}} {{'RESULTS_FOUND' | translate}} </h4-->

    <div class="list-container">
        <ion-list class="items-list">
            <ion-item *ngFor="let item of categories" (click)="openCategoryProducts(item)">
                <img class="item-image" src="{{getImagePath(item.category_img)}}">

                <div class="time-view-container" *ngIf="item.availabilityData">
                    <div class="time-view closed" *ngIf="!item.availabilityData.isAvailable">
                        <div>{{ 'CLOSED' | translate}}</div>
                        <div *ngIf="item.availabilityData.timerange">{{item.availabilityData.timerange}}</div>
                    </div>
                </div>

                <div class="item-details">
                    <div class="item-name">
                        <div class="product_name">
                            {{item.category_name}}
                        </div>
                    </div>
                    <div class="availability available" *ngIf="item.availabilityData.isAvailable">
                        {{item.availabilityData.message | translate}}
                    </div>

                    <div class="availability notavailable" *ngIf="!item.availabilityData.isAvailable">
                        {{item.availabilityData.message | translate}}
                    </div>

                    <div class="item-description">
                        {{item.description}}
                    </div>

                </div>
            </ion-item>
        </ion-list>

        <div class="no-result" *ngIf="!categories || categories.length==0">
            No se han encontrado resultados
        </div>
    </div>
</ion-content>
