page-business-list {
  .scroll-content {
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .has-refresher > .scroll-content {
    margin-top: 57px;
  }

  .itemscount {
    text-align: left;
    padding-left: 16px;
  }

  .list.items-list > .item .item-image {
    float: left;
    width: 32vw;
    height: 32vw;
    margin-top: 10px;
    border-radius: 8px;
  }

  .time-view-container {
    position: absolute;
    width: 32vw;
    height: 32vw;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .time-view {
      text-align: center;
      height: 50px;
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      white-space: normal;
      font-weight: bold;
      flex-direction: column;

      &.open {
        background-color: #0f0;
        color: #000;
      }

      &.closed {
        background-color: #f00;
        color: #fff;
      }
    }
  }


  .list.items-list > .item .item-details {
    float: left;
    padding-left: 10px;
    width: calc(100% - 32vw);
  }


  .list.items-list > .item .item-details {
    color: #97969e;

    .item-name {
      font-size: 20px !important;
      color: #000 !important;
      display: flex;

      .product_name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .item-description {
      margin-top: 5px;
      font-size: 13px;
      white-space: normal;
    }
  }

  .availability {
    font-size: 14px !important;

    &.available {
      color: #0f0;
    }

    &.notavailable {
      color: #f00;
    }
  }

  ion-refresher {
    top: 57px;
  }

  .has-refresher > .scroll-content {
    margin-top: 57px;
    background-color: #ffffff;
  }

  .list-container {
    overflow-y: scroll !important;
    height: calc(100% - 100px);
    width: 100%;
  }

  .loading-spinner-center {
    height: 100%;
    padding: calc(50% - 14px);
    position: relative;
    text-align: center;
    width: 100%;
  }

  .tabs-menu {
    display: flex;
    overflow-x: hidden;
    position: relative;
    z-index: 9;
    margin-top: 10px;
    border-bottom: solid 1px #eee;
    background: #fff;

    a {
      color: #929292;
      padding: 15px 0;
      text-decoration: none;
      display: inline-block;
      width: auto;
      min-width: 100px;
      text-align: center;

      &.active {
        color: #86D44D !important;
        border-bottom: solid 3px #86D44D !important;
        background: #f7f7f7;
      }
    }
  }
}
