<app-header [title]="'Business'"></app-header>


<ion-content class="page-background">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="tabs-menu">
        <ion-searchbar (ionInput)="searchProducts($event)" [(ngModel)]="searchInput"></ion-searchbar>
    </div>
    <div class="tabs-menu" *ngIf="searchInProcess" style="display:flex;justify-content: center;">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <h3 class="itemscount">{{items.length}} Results Found</h3>

    <div class="list-container">
        <ion-list class="items-list">
            <ion-item *ngFor="let item of items" (click)="openBusinessProducts(item)">
                <img class="item-image" src="{{getImagePath(item.imagepath)}}">

                <div class="time-view-container" *ngIf="item.availabilityData.timerange">
                    <div class="time-view open" *ngIf="item.availabilityData.isAvailable">
                        <div>Open</div>
                        <div>{{item.availabilityData.timerange}}</div>
                    </div>

                    <div class="time-view closed" *ngIf="!item.availabilityData.isAvailable">
                        <div>Closed</div>
                        <div>{{item.availabilityData.timerange}}</div>
                    </div>
                </div>

                <div class="item-details">
                    <div class="item-name">
                        <div class="product_name">
                            {{item.name}}
                        </div>
                    </div>
                    <div class="availability available" *ngIf="item.availabilityData.isAvailable">
                        {{item.availabilityData.message}}
                    </div>

                    <div class="availability notavailable" *ngIf="!item.availabilityData.isAvailable">
                        {{item.availabilityData.message}}
                    </div>

                    <div class="item-description">
                        {{item.description}}
                    </div>

                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
