page-profile {
    .page-background {
        .scroll-content {
            // overflow-y:hidden;
        }
    }
    .content-md {
        color: #000;
        background-color: #fff !important;
    }
    .profile-pic {
        width: 100%;
        height: 180px;
        background: rgba($primaryColor, 0.6);
        display: flex;
        align-items: center;
        $imgSize:90px;
        .rounded-img {
            width: $imgSize;
            height: $imgSize;
            margin-top: 20px;
            margin-left: calc(50% - 45px);
            border-radius: $imgSize/2;
            border-width: 2px;
            border-style: solid;
            border-color: $primaryColor;
            object-fit: cover;
        }
        .user-name {
            width: 100%;
            height: 20px;
            color: #fff;
            vertical-align: bottom;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
        }
    }
    .list-md {
        margin: 0;

        .item {
            margin-bottom: 11px;
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0;
            color: #444;
            padding-bottom: 10px;
            .item-inner {
                border-bottom: none !important;
                box-shadow: none !important;
                .input ,
                .datetime {
                    border-bottom: 1px solid #666;
                    margin-left: 16px;
                }
                .label {
                    padding: 0 8px;
                    font-size: 15px;
                }
            }

        }
    }
}
