<app-header [title]="'PROFILE'"></app-header>

<ion-content class="page-background">
	<div class="profile-pic">
		<img class="rounded-img" [src]="getImgPath()" (click)="editProfilePic()"/>
		<div class="user-name">{{user.firstname}}</div>
	</div>

	<ion-list padding>
		<ion-item>
			<ion-label stacked>{{ 'FIRST NAME' | translate }}*</ion-label>
			<ion-input type="text" [(ngModel)]="user.name"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>{{ 'LAST NAME' | translate }}*</ion-label>
			<ion-input type="text" [(ngModel)]="user.l_name"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>{{ 'MOBILE NUMBER' | translate }}*</ion-label>
			<ion-input type="text" [(ngModel)]="user.mobile"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>{{ 'EMAIL ADDRESS' | translate }}</ion-label>
			<ion-input type="email" [(ngModel)]="user.email" disabled></ion-input>
		</ion-item>

		<ion-item>
			<ion-select style="padding-left: 8px;" [(ngModel)]="user.city_id" placeholder="{{ 'CITY' | translate }}">
				<ion-option *ngFor="let city of citiesList" [value]="city.id">{{city.city_name}}</ion-option>
			</ion-select>
		</ion-item>

		<!-- <ion-item>
			<ion-label stacked>{{ 'DOB' | translate }}</ion-label>
			<ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="user.city"></ion-datetime>
		</ion-item> -->

		<!-- <ion-item>
			<ion-label stacked>{{ 'ANNIVERSARY DATE' | translate }}</ion-label>
			<ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="user.user_anniversary"></ion-datetime>
		</ion-item> -->

	</ion-list>
	
	<div padding>
		<button class="btn-success btn-block" (click)="save()">{{ 'SAVE' | translate }}</button>
	</div>


</ion-content>
