page-detail-box-modal {
  .backtransparent {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content .scroll-content {
    display: flex;
    margin-top: 0 !important;
  }


  .input-container {
    width: 90%;
    background-color: #fff;
    margin: auto;
    padding: 16px;
  }

  .heading-modal {
    font-size: 14px;
    color: #aaa;
  }

  .text_area_input {
    height: 155px;
    padding: 1px 8px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: #eeeeee;
  }

  .add_btn {
    height: 35px;
  }
}
