<!--
  Generated template for the DetailBoxModalPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="backtransparent">
    <div class="input-container">
        <div class="heading-modal">
            {{"ORDER_DETAILS" | translate}}
        </div>
        <ion-textarea [(ngModel)]="detailText" class="text_area_input"></ion-textarea>
        <button class="btn-success button-block add_btn" (click)="addDetail()">{{"ADD" | translate}}</button>
    </div>
</ion-content>
