page-inbox {
  .list {
    .item {
      border: none !important;
      h2 {
        margin-top: 0;
      }
    }
  }

  .chatroomlist {
    padding: 0;

    .item-inner {
      padding: 0 !important;

      .icon {
        margin-right: 0 !important;
      }
    }

    .timeings {
      font-size: 11px;
    }
  }

  .unread {
    .timeings, h2, p {
      color: black;
      font-weight: bold;
    }

    h2 {
      color: #488aff;
    }

    .icon {
      color: #488aff;
    }
  }
}
