<app-header [title]="'MESSAGES'"></app-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-row justify-content-center *ngIf="loadingUsers">
        <ion-spinner name="bubbles"></ion-spinner>
    </ion-row>

    <ion-row justify-content-center *ngIf="(!rooms || rooms.length == 0) && !loadingUsers">
        <p style="font-size: 22px;">
            No tuviste chats
        </p>
    </ion-row>


    <ion-list>
        <ion-item class="chatroomlist" *ngFor="let room of rooms"
                  [ngClass]="{'unread':(conversations[room.id].unread_msg>0)}" (click)="openMessages(room)">
            <ion-avatar item-start>
                <img [src]="getImagePath(room.photo)">
            </ion-avatar>
            <h2>{{room.full_name}}</h2>
            <p class="timeings"
               *ngIf="conversations[room.id].lastMessage">{{conversations[room.id].lastMessage.msg}}</p>
            <p>{{room.address}}</p>
            <ion-icon name="chatboxes" item-end></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>
