<!--
  Generated template for the BusinessSubcatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<app-header [title]="'Detalles'"></app-header>


<ion-content class="page-background">


    <div class="item-container">
        <div *ngFor="let data of subCatList; let i=index;"
             [ngClass]="{'cat-item':true, 'selected':(selectedSubCategory&&selectedSubCategory.id==data.id)}"
             (click)="chooseSubCat(data)">
            <div class="index">{{i + 1}}</div>
            <div class="title">{{data.name}}</div>
        </div>

    </div>

    <div class="no-result" *ngIf="!subCatList || subCatList.length==0">
        No se han encontrado resultados
    </div>

</ion-content>
