page-products-subcat {
  .scroll-content {
    background-color: #eeeeee;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .cat-item {
      display: flex;
      flex-direction: row;
      min-width: 60%;
      margin: 8px;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 3px;

      .index {
        min-height: 30px;
        max-height: 30px;
        min-width: 30px;
        max-width: 30px;
        border-radius: 50%;
        background-color: $primaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-weight: bold;
      }

      .title {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.selected {
        background-color: $primaryColor;

        .index {
          color: $primaryColor;
          background-color: #ffffff;
        }

        .title {
          color: #ffffff;
        }
      }
    }

  }
}
