<app-header [title]="'TITTLE'"></app-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Actualizando..."></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar (ionInput)="getItems($event)" [placeholder]="'SEARCH' | translate"></ion-searchbar>

    <div>
        <ion-slides class="tamano" pager="true" loop="true" initialSlide="0">
            <ion-slide *ngFor="let item of sliders" (click)="bannerClick(item)">
                <img src="{{getImagePath(item.image)}}"/>
            </ion-slide>
        </ion-slides>
    </div>


    <div class="top-category">
        <div class="item-box" *ngFor="let data of filterItemsBig" (click)="openCategoryList(data)">
            <img src="{{getImagePath(data.imagepath)}}"/>
            <div class="title">{{data.name}}</div>
        </div>
    </div>


    <ng-container *ngIf="allCategories && allCategories.length > 0">
        <ion-label color="medium" style="margin-left: 16px">
            Abierto
        </ion-label>
        <div class="bottom-items">
            <ng-container *ngFor="let category of allCategories; let i = index">
                <div *ngIf="(category.category_available == 1 || category.category_available == '1')" class="item-box"
                     (click)="openCategoryProducts(category)">
                    <img src="{{getImagePath(category.category_img)}}"/>
                </div>
            </ng-container>
        </div>
    </ng-container>


    <ng-container *ngIf="filterItems && filterItems.length > 0">
        <ion-label color="medium" style="margin-left: 16px">
            Categorías
        </ion-label>

        <div class="grid-items">
            <ng-container *ngFor="let item of filterItems; let i = index">
                <div class="item-box" *ngIf="i%2 == 0" (click)="openCategoryList(item)">
                    <img src="{{getImagePath(item.imagepath)}}"/>
                    <div class="title">{{item.name}}</div>
                </div>
            </ng-container>
        </div>

        <div class="grid-items">
            <ng-container *ngFor="let item of filterItems; let i = index">
                <div class="item-box" *ngIf="i%2 != 0" (click)="openCategoryList(item)">
                    <img src="{{getImagePath(item.imagepath)}}"/>
                    <div class="title">{{item.name}}</div>
                </div>
            </ng-container>
        </div>
    </ng-container>

</ion-content>

<ion-footer style="height: 40px">

    <ion-fab center bottom>
        <button ion-fab class="colores">
            <ion-icon name="apps"></ion-icon>
        </button>
        <ion-fab-list side="left">
            <a onclick="window.open('https://facebook.com/snappydeliveryok', '_system', 'location=yes'); return false;">
                <button ion-fab>
                    <ion-icon color="snappy" name="logo-facebook">

                    </ion-icon>
                </button>
            </a>


        </ion-fab-list>
    </ion-fab>

    <ion-toolbar color="snappy">
        <ion-label color="medium" style="margin-left: 10px">
        </ion-label>
    </ion-toolbar>
</ion-footer>


