page-main-category {
  letter-spacing: 1px;
  font-family: sans-serif;

  .searchbar {
    background-color: #fff;
    margin-top: 12px !important

  }


  ion-searchbar {
    .searchbar-input-container {

      .searchbar-input {
        border-radius: 30px !important;

      }
    }
  }


  .colores {
    background-color: #4E3B95;
  }

  .top-category {

    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;


    .item-box {
      min-width: calc(45vw);
      width: calc(45vw);
      display: flex;
      flex-direction: column;
      padding: 5px;
      overflow: hidden;
      margin: 8px;
      height: 100px;

      ion-img, img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }

      .title {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        color: #fff;
        text-align: center;
        margin-top: -30px;
        z-index: 111;
        padding: 5px;
        height: 30px;
        width: 100%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }


  .grid-items {
    margin: 10px 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;


    .item-box {
      min-width: calc(25vw);
      width: calc(25vw);
      display: flex;
      flex-direction: column;
      padding: 6px;
      align-items: center;
      justify-content: space-around;

      ion-img, img {
        border-radius: 50%;
        box-shadow: 5px 5px 5px grey;
        width: 80px;
        height: 80px;
        object-fit: cover;
      }

      .title {
        width: 100%;
        padding: 3px;
        margin-top: 3px;
        font-size: 10px;
        text-align: center;
        color: #000;
      }
    }
  }

  .bottom-items {
    margin: 10px 10px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;


    .item-box {
      min-width: 80px;
      width: 70px;
      display: flex;
      flex-direction: column;
      margin: 5px;

      ion-img, img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: 5px 5px 5px grey;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }


  .has-refresher > .scroll-content {
    margin-top: 57px;
  }

  ion-refresher {
    top: 57px;
  }

  .tamano {
    padding-right: 8px;
    padding-left: 8px;
  }

  .slides {
    height: 200px;


    .slides-md {
      margin-top: 20px !important;
    }

    .swiper-slide {
      width: 100%;
      height: 200px;
      background-color: #EEEEEE;
      border: 1px solid #cccccc;
      border-radius: 30px;
      overflow: hidden;


      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

    }


    .swiper-pagination {
      // display: block !important;
      bottom: 5px;


      .swiper-pagination-bullet {
        background: $primaryColor;
      }
    }
  }


  .list {
    margin: 0 !important;

    .item {
      min-height: unset !important;
      padding: 0;
      height: 130px;
      margin-bottom: 1px;

      .item-inner {
        position: relative;
        z-index: 1;
        text-align: center;
        color: #fff !important;
        padding: 0px 15px !important;
      }

      .category-img {
        min-width: unset;
        min-height: unset;
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 0;
        margin: 1px 0 !important;

        img {
          max-width: unset;
          max-height: unset;
          height: 220px;
          width: 100%;
        }
      }

      h2 {
        // margin-top: 90px;
        text-transform: uppercase;
      }


      .layer {
        display: none;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0px;
        right: 0px;
        z-index: -1;
        opacity: 0.50;
        // background: linear-gradient(to bottom,#ccc, #ccc,#000,#000);
        background: $primaryColor;
      }
    }
  }
}
