page-confirm-order {

	// Override Css

	.list.items-list > .item {
		padding:0 !important;
	}
	.item {
		padding: 0;
		margin-bottom: 10px;
		border-radius: 3px;
		background-color: rgba(255, 255,255, 0.8);
		padding: 0;
		color: #444;
		.item-inner {
			padding:0 10px;
			border-bottom: none !important;
			.label {
				color: #999;
			}
			ion-textarea.input {
				margin: 10px 0 !important;
				textarea {
					resize:none;
					box-sizing: border-box;
					padding: 0 5px !important;
				}
				border:1px solid #AAA;
				border-radius: 4px;
				resize: none;
				box-sizing: border-box;
				height: 80px;
				margin: 5px;
				width: auto;
			}

			.button {
				background-color: $darkRedColor;
			}
		}
	}
	.notesDelivery {
		.item-inner {
			padding:0;
			.label {
				margin:0;
			}
		}
		margin: 16px;
		width: auto;
	}
}


