<app-header [title]="'CONFIRM ORDER'" [showCart]="false"></app-header>


<ion-content class="page-background">
    <ion-list>
        <!-- <ion-item>
            <ion-label>{{ 'DELIVERY DATE' | translate }}</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" min="{{minDateForPicker}}" max="{{maxYearForPicker}}" pickerFormat="DD-MM-YYYY" [(ngModel)]="deliveryDate" (ionChange)="deliveryDateChange()"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'DELIVERY TIME' | translate }}</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="deliveryTime"></ion-datetime>
        </ion-item> -->
        <ion-item>
            <ion-card *ngIf="defaultAddress">
                <ion-card-content>
                    <h2 style="padding: 5px 0;">{{ 'ADDRESS' | translate }}</h2>
                    <div *ngIf="defaultAddress">
                        <h3>{{defaultAddress.name}}</h3>
                        <p [innerHTML]="combineAddress(defaultAddress)"></p>
                    </div>
                    <button ion-button [navPush]="addressCmp"
                            [navParams]="{'currentAddress':defaultAddress, 'options':'select_address', 'callback':addressChooseCallBack}">{{ 'CHOOSE ADDRESS' | translate }}</button>
                </ion-card-content>
            </ion-card>
        </ion-item>


        <ion-item>
            <ion-card *ngIf="byPayoption">
                <ion-card-header>

                </ion-card-header>
                <ion-card-content>
                    <ion-list class="items-list">
                        <ion-item *ngFor="let item of byPayoption.items; let idx = index" class="item-remove-animate">
                            <img class="item-image" src="{{getImagePath(item.item.product_img)}}">

                            <div class="item-details">
                                <h2 class="item-name">{{item.item.product_name}}</h2>
                                <div class="item-price"> {{"$" + item.item.price + ' X ' + item.quantity}}</div>
                                <div class="item-price" *ngIf="item.item.supplies && item.item.supplies.length>0">
                                    Supplies
                                    - {{"$" + calculateSuppliesPrice(item.item.supplies) + ' X ' + item.quantity}}
                                </div>
                            </div>
                        </ion-item>

                        <ion-item>

                            <div class="totalling">

                                <div class="row">
                                    <div class="item-left"> {{ 'SUB TOTAL' | translate }} </div>
                                    <div class="item-right">${{getTotalPriceForItems(byPayoption.items)}}</div>
                                </div>

                                <div class="row">
                                    <div class="item-left"> {{ 'DELIVERY' | translate }} </div>
                                    <div class="item-right">${{getDelieveryPriceForItems(byPayoption.items)}}</div>
                                </div>

                                <div class="row total">
                                    <div class="item-left" style="font-weight: bold;"> {{ 'TOTAL' | translate }} </div>
                                    <div class="item-right">
                                        ${{getTotalPriceForItems(byPayoption.items) + getDelieveryPriceForItems(byPayoption.items)}}</div>
                                </div>

                            </div>
                        </ion-item>

                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-item>


        <ion-item>
            <ion-card *ngIf="byPayoption">
                <ion-card-content class="totalling">
                    <div class="row">
                        <div class="item-left"> {{ 'PAYMENT METHOD' | translate }} {{" "}}</div>
                        <div class="item-right">{{selectedPaymentMethod.name}}</div>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>

        <ion-item class="notesDelivery">
            <ion-label stacked> {{ 'NOTES' | translate }} </ion-label>
            <ion-textarea [(ngModel)]="notesDelivery"></ion-textarea>
        </ion-item>

        <ion-item class="notesDelivery">
            <button class="btn-success  btn-block"
                    (click)="confirmOrder()">{{ 'PROCESS TO PAYMENT' | translate }} </button>
        </ion-item>
    </ion-list>


</ion-content>
