<app-header [title]="receiver.name + ' ' + receiver.l_name"></app-header>

<ion-content class="dark-bg">

    <div class="message-wrap" padding>

        <ng-container *ngFor="let message of messages|values">
            <div class="message left" *ngIf="!isSenderMe(message.value)">
                <img class="user-img" alt="" [src]="getImagePath(receiver.photo)">

                <div class="msg-detail">
                    <div class="msg-info">
                        <p>
                            <span class="text-white bold">{{receiver.full_name}}</span>
                            <span ion-text color="dark">{{getFormatedTime(message.value.time)}}</span>
                        </p>
                    </div>
                    <div class="msg-content">
                        <span class="triangle"></span>
                        <p class="line-breaker ">{{message.value.msg}}</p>
                    </div>
                </div>
            </div>

            <div class="message right" *ngIf="isSenderMe(message.value)">
                <img class="user-img" alt="" [src]="getImagePath(user.photo)">

                <div class="msg-detail">
                    <div class="msg-info">
                        <p>
                            <span class="text-white bold">Me</span>
                            <span ion-text color="dark">{{getFormatedTime(message.value.time)}}</span>
                        </p>
                    </div>
                    <div class="msg-content">
                        <span class="triangle"></span>
                        <p class="line-breaker">{{message.value.msg}}</p>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>

</ion-content>

<ion-footer class="dark-bg">
    <ion-toolbar>

        <ion-grid no-margin>
            <ion-row no-margin>
                <ion-col col col-9 no-margin no-padding>
                    <ion-item>
                        <ion-textarea placeholder="Ingresar mensaje..." rows="2" class="txt-chat"
                                      [(ngModel)]="message"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col col col-3 no-margin no-padding>
                    <button [disabled]="!message" ion-button large full no-margin tappable icon-only class="send-btn"
                            (click)="sendMessage()">
                        <ion-icon name="send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-footer>
