page-address-info {

  #map {
    width: 100%;
    height: 50%;
  }


  .item {
    padding: 0;
  }

  .item {
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    color: $tertiaryTextColor;

    &.item-toggle {
      padding: 0;

      .label {
        margin: 13px 8px 13px 8px;
      }
    }

    .item-inner {
      box-shadow: none !important;

      .select {
        padding: 8px !important;
        max-width: 90%;
      }

      .text-input {
        margin: 13px 8px 13px 8px;
      }

    }
  }

  .disable-editing {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .other-info-button {
    color: #444;
    font-size: 16px;
    background-color: #EEEEEE;

    .title {
      float: left;
      padding-left: 8px !important;
    }

    .icon {
      float: right;
    }
  }
}
