<app-header [title]="title" [showCart]="false"></app-header>


<ion-content class="page-background" padding>

    <ion-searchbar #search id="search">
    </ion-searchbar>

    <div #map id="map"></div>


    <ion-list>

        <ion-item>
            <ion-input type="text" placeholder="{{ 'FULL NAME(REQUIRED)' | translate}}" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="text" placeholder="{{ 'MOBILE NUMBER(REQUIRED)' | translate}}" [(ngModel)]="mobile"
                       (input)="onMobileChange()"></ion-input>
        </ion-item>

        <ion-item>
            <ion-select style="padding-left: 8px;" [(ngModel)]="townCity"
                        placeholder="{{ 'TOWN/CITY(REQUIRED)' | translate}}">
                <ion-option *ngFor="let city of citiesList" [value]="city.id">{{city.city_name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-select [(ngModel)]="type" placeholder="{{ 'ADDRESS TYPE' | translate}}">
                <ion-option value="home">{{ 'HOME_ADDRESS' | translate }}</ion-option>
                <ion-option value="office">{{ 'OFFICE_COMMERCIAL' | translate }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label> {{ 'SET AS DEFAULT' | translate}}</ion-label>
            <ion-toggle [(ngModel)]="defaultAddress"></ion-toggle>
        </ion-item>

        <ion-item class="other-info-button">
            <div class="title">{{ 'OTHER INFORMATIONS' | translate}}</div>
            <!--<ion-icon name="{{extraFieldToggle?'ios-arrow-up-outline':'ios-arrow-down-outline'}}"></ion-icon>-->
        </ion-item>

        <div *ngIf="extraFieldToggle">
            <ion-item>
                <ion-input type="text" placeholder="{{ 'FLAT_HOUSE_NO_FLOOR_BUILDING' | translate}}"
                           [(ngModel)]="address1"></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" placeholder="{{ 'COLONY_STREET_LOCALITY' | translate}}"
                           [(ngModel)]="address2"></ion-input>
            </ion-item>
        </div>

    </ion-list>

    <button class="btn-success btn-block" *ngIf="!isReadOnly" (click)="saveAddress()">{{ 'SAVE' | translate}} </button>


    <div class="disable-editing" *ngIf="isReadOnly"></div>
</ion-content>
