<app-header [title]="'SETTINGS'"></app-header>

<ion-content class="page-background" padding>

	<ion-card>
		
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'LANGUAGE' | translate}}</ion-label>
				<ion-select [(ngModel)]="language" (ionChange)="languageChange()" selectedText="{{getLanguageNameForKey(language) | translate}}">
					<ion-option value="{{lng.key}}" *ngFor="let lng of languagesArr">{{ lng.name | translate}}</ion-option>
				</ion-select>
			</ion-item>
		</ion-card-content>

	</ion-card>

</ion-content>
