<app-header [title]="'WALLET TRANSACTIONS'"></app-header>

<ion-content class="page-background">
	<ion-grid *ngIf="lastTransactions">
				<ion-row>
					<ion-col>
						{{dateStrToFormattedStr(lastTransactions.date)}}
						<br/>
						<ion-label>{{lastTransactions.time}}</ion-label>
					</ion-col>
					<ion-col>
						₹{{lastTransactions.amount}}
						<br />
						<ion-label>{{lastTransactions.type}}</ion-label>
					</ion-col>				
				</ion-row>
			</ion-grid>
</ion-content>
