page-wallet-transactions {
	ion-grid {
		background-color: #fff;
		border-radius: 5px;
		padding:0;
		ion-row {
			padding: 10px;
			border: 1px solid #ccc;
			
			ion-col{
				color: #000;
				font-size: 14px;
				font-weight: 500;
				.label {
					font-size: 11px;
					color:#aaa;
					margin: 5px 5px 0 0;
				}
				&:last-child {
					text-align: right;
				}
			}					
		}
	}
}	
