// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


$text-color:        #000;
$background-color:  #fff;
$toolbar-md-height: 86px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$themeColor:#4E3B95;

//$colors: (
//   primary:    #387ef5,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222,
//  favorite:   #69BB7B
//);

$colors: (
	primary:    $themeColor,
	secondary:  #32db64,
	danger:     #f53d3d,
	light:      #f4f4f4,
	dark:       #222,
	favorite:   #69BB7B,
	snappy: #4E3B95
	);




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// $normalFontSize:calc(11px + 1vw);

// // $themeColor:#D94334;
// $themeColor:#115A85;

// $primaryColor:$themeColor;
// $secondaryColor:#ccc;
// $darkRedColor:$themeColor;
// $primaryTextColor:#fff;
// $secondaryTextColor:$themeColor;
// $tertiaryTextColor:#444;

// $headerBackgroundColor:linear-gradient(to right,#125C89, #336BA4,#7CBDE3,#26BBFF);

// $menuItemTextColor:#fff;
// $menuItemIconColor:#fff;



$normalFontSize:calc(11px + 1vw);

// $themeColor:#D94334;

$primaryColor:$themeColor;
$secondaryColor:#ccc;
$darkRedColor:$themeColor;
$primaryTextColor:#fff;
$secondaryTextColor:$themeColor;
$tertiaryTextColor:#444;

// $headerBackgroundColor:linear-gradient(to right,#A82128, #a43333,#e37c7c,#ff2626);

$headerBackgroundColor:#4E3B95;

$menuItemTextColor:#fff;
$menuItemIconColor:#fff;







// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
