page-history {



	/************************************Custom*Css*******************************/

	.section-titles {
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color: $darkRedColor !important;

		div {
			float: left;
			line-height: inherit;
			padding-left: 5px !important;
			font-size: calc(9px + 1vw);
			align-self:center;
			white-space: nowrap;
			text-align: center;
			font-weight: bold;
			color: white;
			text-transform: uppercase;

		}
	}

	.order-details-heading {
		background-color: rgba($primaryColor,0.1) !important;
		padding-left: 0;
		width: 100%;
		min-height: 40px;
		display: flex;
		justify-content:center;
		margin: 5px 0 !important;

		div {
			float: left;
			line-height: inherit;
			padding-left: 5px !important;
			font-size: calc(8px + 1vw);
			align-self:center;
			white-space: normal;
			text-align: center;
			color: $primaryColor !important;			
			&:nth-child(5) {
				*,
				button:hover {
					background-color: transparent;
					border:none;
					box-shadow:none;
					vertical-align: middle;
				}
			}
		}
	}
	
	.section-titles,
	.order-details-heading {
		div {
			&:nth-child(1){
				width: 12%;
			}
			&:nth-child(2) {
				width: 20%;
			}
			&:nth-child(3) {
				width: 30%;
			}
			&:nth-child(4) {
				width: 25%;
			}
			&:nth-child(5) {
				width: 13%;
				text-align: center;
			}
			.item-button {
				color:$primaryColor;
			}
		}
	}

	.orders-list {
		.item {
			padding-left:0;
			.item-inner {
				padding-right:0;
				.label {
					margin-right:0;
				}
			}
		}
	}

	.order-details {
		padding-bottom:16px;
	}

	
	.section {
		float: left;
		width: 100%;
		height: 40px;
		background-color: $darkRedColor;
		margin: 5px 0;
		color: #fff;
		padding: 0 10px;
		font-size: $normalFontSize;
		line-height: 40px;
	}
	.list.items-list>.item {    
		.item-details {
			.devider-line {
				clear: both;    
				width: 100%;
				height: 1px;
				background-color: #444;
				margin: 5px 0 5px 5px;
			}
			.item-total-show {
				float: left;
				color: #333;
				font-size: 11px;
			}
		}
	}
}

