<app-header [title]="'MY HISTORY'" [showCart]="true"></app-header>


<ion-content class="page-background" padding>
	
	<h2 *ngIf="ordersList && (ordersList.length == 0)" class="no-data-found-msg">No history found</h2>

	<div class="section-titles" *ngIf="ordersList && ordersList.length > 0">
		<div>{{'ORDER' | translate}}.</div>
		<div>{{'TOTAL' | translate}}.</div>
		<div>{{'STATUS' | translate}}.</div>
		<div>{{'DATE' | translate}}/{{'TIME' | translate}}</div>
	</div>


	<ion-list class="orders-list" *ngIf="ordersList && ordersList.length > 0" >

		<ion-item *ngFor="let order of ordersList; let idx = index;" class="item-remove-animate">
			<div class="order-details-heading" (click)="order.show=!order.show">
				<div>#{{order.id}}</div>
				<div>{{getTotalPriceForOrder(order)}}</div>
				<div class="item-right">{{(order.order_status=='create'?'PROCESSING':'COMPLETE') | translate}}</div>
				<div>{{order.created_at}}</div>
				<div>
					<button ion-button icon-only>
						<ion-icon name="{{(order.show)?'ios-arrow-up-outline':'ios-arrow-down-outline'}}"></ion-icon>
					</button>
				</div>
			</div>

			<ion-card  class="order-details" *ngIf="order.show">
				<ion-card-content>
					<ion-list class="items-list">

						<ion-item *ngFor="let item of order.items">
							<img class="item-image" src="{{getImagePath(item.product_img)}}">
							<div class="item-details">
								<h2 class="item-name">{{item.product_name}}</h2>  
								<div class="item-price">${{getProductPrice(item)+' X '+item.quantity}}</div> 

								<div class="devider-line"></div>
								<div class="item-total-show">TOTAL - &nbsp;${{getProductTotalPrice(item)}}</div>
							</div>
						</ion-item>
						<div class="totalling">

							<div class="row">
								<div class="item-left"> {{ 'ORDER STATUS' | translate }} </div>
								<div class="item-right">{{(order.order_status=='create'?'Processing':'')}}</div>
							</div>

							<div class="row">
								<div class="item-left"> {{ 'PAYMENT METHOD' | translate }} </div>
								<div class="item-right">{{order.payment_method_name}}</div>
							</div>

							<div class="row">
								<div class="item-left">{{ 'SUB TOTAL' | translate }}</div>
								<div class="item-right">${{getTotalPriceForItems(order.items)}}</div>
							</div>

							<div class="row">
								<div class="item-left">{{ 'DELIVERY' | translate }}</div>
								<div class="item-right">${{getDelieveryPriceForOrder(order)}}</div>
							</div>

							<div class="row total">
								<div class="item-left" style="font-weight: bold;">{{ 'TOTAL' | translate }}</div>
								<div class="item-right">${{getTotalPriceForOrder(order)}}</div>
							</div>
						</div>
					</ion-list>
				</ion-card-content>
			</ion-card>
			
		</ion-item>
	</ion-list>
	

</ion-content>
