<app-header [title]="'FEEDBACK'" [showCart]="false"></app-header>



<ion-content class="page-background">
	<div class="container">
		<h4>{{ 'DEAR GUEST' | translate }}</h4>
		<p class="feedback-text">{{ 'FEEDBACK TEXT' | translate }}</p>

		<div class="rating-container">
			<!--h4>{{ 'PLEASE RATE' | translate }}</h4-->
			<div *ngFor="let rateOptionEntry of rateOptions | keys" class="rate-options">
				<div class="rating-title">{{ rateOptionEntry.value.name | translate }}</div>
				<div class="rating-star">
					<ion-icon  name="star" *ngFor="let i of [1,2,3,4,5]" [ngClass]="{'active':(i <= rateOptionEntry.value.rating)}" (click)="rateOptionEntry.value.rating = i"></ion-icon>
				</div>
			</div>
		</div>


		<div class="comnt">
			<ion-label stacked>{{ 'ADDITIONAL COMMENTS' | translate }}</ion-label>
			<ion-textarea [(ngModel)]="commentText"></ion-textarea>
		</div>

		<div class="aligner">
			<button class="btn-success btn-block" (click)="submit()">{{ 'SUBMIT' | translate }}</button>
		</div>
	</div>
</ion-content>

