page-feed-back {
  .container {
    background-color: #fff;
    border-radius: 4px;
    padding-bottom: 10px;
    width: calc(100% - 32px);
    position: relative;
    margin: 16px;

    .feedback-text {
      line-height: calc(10px + 1vw);
      font-size: $normalFontSize;
      color: #aaa;
    }

    .rating-container {
      float: left;
      width: 100%;

      & > h4 {
        color: #aaa;
      }

      .rate-options {
        float: left;
        width: 100%;
        display: flex;

        .rating-title {
          float: left;
          width: 50%;
          height: inherit;
          align-self: center;
          font-size: $normalFontSize;
          font-weight: bold;
        }

        .rating-star {
          float: left;
          width: 50%;
          text-align: right;

          .icon {
            font-size: calc(20px + 1vw);
            margin-right: 3px;

            &.active {
              color: #552B9A;
            }
          }

          .icon:last-child {
            margin-right: 0px;
          }
        }
      }
    }

    .comnt {
      float: left;
      width: 100%;
      margin-top: 15px;

      .label {
        font-size: $normalFontSize;
      }

      .input {
        border: 1px solid #AAA;
        border-radius: 4px;
        resize: none;
        box-sizing: border-box;
        height: 80px;
        margin-top: 5px;

        textarea {
          resize: none;
          box-sizing: border-box;
          padding: 0 5px !important;
        }
      }
    }


    .aligner {
      float: left;
      width: 100%;
    }

    .btn-success {
      margin-top: 15px;
      height: 36px;
      width: 5 0vw;
      font-weight: bold;
    }
  }

  .content-md {
    color: #000;
    background-color: #fff !important;
  }
}




