.left {
  float: left;
}

.right {
  float: right;
}


.cutprice {
  text-decoration: line-through;
}

.item-borderless,
.item-borderless .item-inner {
  border: none !important;
}

.custom-spinner-container {
  width: 20px;
  height: 20px;
  background-color: #4E3B95;
}

.usernames {
  margin: 10px 0 0 0;
  color: #fff;
}

.profshopicon {
  position: absolute;
  right: 20px;
  top: 20px;

  .icon {
    color: #fff;
    font-size: 20px;
  }
}

.page-background {
  background-color: #fff;
}

.loader {
  opacity: 0.7 !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.content:not(.side-menu) {
  .scroll-content {
    margin-top: 86px;
  }
}


.container {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #eee;
  float: left;
  width: calc(100% - 30px);
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
}

.btn-success {
  background-color: $darkRedColor;
  letter-spacing: 1.2px;
  color: #fff;
  font-weight: bold;
  -moz-user-select: none;
  background-image: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
}

.btn-block {
  display: block;
  width: 100%;
}

.aligner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu-inner {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-color: transparent !important;

  &:after {
    position: fixed;
    content: "";
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;

    width: 0;
    height: 0;

    //  border-bottom: calc(100vh - 160px) solid rgba($primaryColor,0.3);
    // border-right: 350px solid rgba($primaryColor,0.75);

    border-bottom: calc(100vh - 160px) solid rgba(0, 0, 0, 0.75);
    border-right: 350px solid rgba(0, 0, 0, 0.3);
  }

  .profile-info {
    background-size: cover !important;
    background-repeat: no-repeat !important;

    background-image: url("../assets/img/profile.png");

    // aha
    //background-color: transparent !important;

    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    // align-items:flex-start;
    padding: 10px;
    position: relative;
    flex-direction: column;

    &.loggedin {
      align-items: center;

      .rounded-img {
        width: 75px;
        height: 75px;
        margin-top: 8px;

      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      content: "";
      // background-color: rgba(0,0,0,0.3) !important;
    }

    .label {
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
    }

    .login-btn {
      background-color: transparent;
      color: white;
      font-weight: bold;
      font-size: 16px;
      padding: 8px;
      border-radius: 10px;
      margin: 25px;
      border: 1px solid #1C8FBB;
    }

    .rounded-img {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 60px;
      z-index: 1;
      margin-top: 16px;
      overflow: hidden;
      border: 0px solid #fff;
      background-color: #4E3B95;
      object-fit: cover;
      // box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.6)

    }

    .user-name {
      position: relative;
      z-index: 1;
      margin-top: 0px;
      text-align: center;
      font-size: 12px;

    }

    .email {
      position: relative;
      z-index: 1;
      margin-top: 2px;
      text-align: center;
      font-size: 10px;

    }


    .edit-icon {
      display: block;
      margin-top: -21px;
      background: rgba(255, 255, 255, 0.7);
      text-align: center;
      border-radius: 10px;
      width: 20px;
      position: absolute;
      bottom: 10px;
      left: 52px;
      z-index: 3;
    }
  }

  .side-menu {
    .scroll-content {
      padding-top: 30px;
      border-top: 1px solid #444;

      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      // background-color: transparent !important;

      background-color: #f8f8f8 !important;

      // &:after {
      //   position: fixed;
      //   content: "";
      //   top: 160px;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   background: rgba(0, 0, 0, 0.75);
      //   z-index: -1;

      //   // border-bottom : 50em solid rgba(200,200,200,0.1);
      //   // border-left : 20em solid rgba(0,0,0,0.1);
      //   // border-right : 25em solid rgba(200,200,200,0.1);

      //   width: 0;
      //   height: 0;
      //   // border-bottom: calc(100vh - 160px) solid rgba(55,55,55,0.5);
      //   border-bottom: calc(100vh - 160px) solid rgba(0,0,0,0.75);
      //   border-right: 350px solid rgba(0,0,0,0.3);
      // }
    }

    .list {
      .section {
        background-color: transparent;
        text-align: left;
        padding-left: 13px;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 1.6rem;
        border-bottom: solid 1px #ddd;
        font-weight: bold;
        float: left;
      }

      .menu-devider-line {
        position: relative;
        height: 1px;
        width: 100%;
        float: left;
        // background-color: #444;
      }

      button {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 8px;
        color: #7f7f7f;

        &.activated, &:hover {
          background-color: transparent;

          .label {
            color: $menuItemTextColor;
          }
        }

        &.menu-selected {
          /*background-color: rgba(113, 0, 0, 0.5);*/
          // background-color: #fff;
          .label {
            color: #fff !important;
            background-color: $darkRedColor !important;
          }
        }

        .item-inner {
          border-bottom: none !important;

          .icon {
            color: $menuItemIconColor;
            font-size: 26px;
            font-weight: bold;
            display: none;
          }

          .icon-menu {
            float: left;
            float: left;
            //border: 1px solid #fff;
            //background-color: #000;
            padding: 5px;
            border-radius: 30px;
            width: 40px;
            height: 40px;
            text-align: center;
          }

          .label {
            color: #7f7f7f;
            font-weight: 500;
            background-color: #fff;
            margin: 0px 20px !important;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .title-menu {
            position: relative;
            left: 15px;
            font-size: 14px;
          }
        }
      }

    }

  }
}

ion-menu,
.side-menu,
.side-menu ion-list,
.side-menu ion-list button,
.profile-info {
  background-color: transparent;
}

.menu-content-push {
  box-shadow: 0 0 50px -3px rgba(0, 0, 0, 1);
}

.toast-wrapper {
  position: absolute;
  right: 10px;
  left: 10px;
  z-index: 10;
  display: block;
  margin: auto;
  max-width: 700px;
  text-align: center;
  // border-radius: 0.65rem;
  background: rgba($primaryColor, 0.6) !important;
}

.no-data-found-msg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  font-family: fantasy;
  color: #A82128 !important;

  &:before {
    width: 200px;
    background-image: url(../assets/img/sad-emoticon.png);
    height: 200px;
    background-size: cover;
    content: "";
    margin-bottom: 20px;
  }
}

.retry-button {
  border: 1px solid #444;
  color: #444;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  margin: calc(50% - 60px);
}

.totalling {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin-top: -28px;

  .row {
    background: #fff;
    border-bottom: solid 1px #eee;
    float: left;
    width: 100%;
    padding: 10px;

    .item-left {
      float: left;
      padding-right: 5px;
    }

    .item-right {
      float: right;
      font-weight: bold;
    }

  }
}

$SIDEMENU_TOP: #E8AD45;
$SIDEMENU_BOTTOM: #994C13;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.8);
// background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
// background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
// background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
// background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);

.list.items-list > .item {
  padding: 10px !important;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 10px;

  .item-inner {
    border-bottom: none;

    .label {
      margin: 0;
    }
  }

  .item-image {
    float: left;
    width: 22vw;
    height: 20vw;
  }

  .item-details {
    float: left;
    padding-left: 10px;
    width: calc(100% - 22vw);

    .item-name {
      color: $primaryColor;
      font-size: $normalFontSize;
      font-weight: bold;
      padding-top: 5px;
      word-wrap: break-word;
      display: inline-block;
      width: 100%;
      overflow: hidden !important;
      text-overflow: ellipsis;
      margin-bottom: 0;
    }

    .item-price {
      font-size: 12px;
      margin-top: 0;
    }
  }
}

.totalling {
  float: left;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #fff;

  .row.total {
    // background-color: rgba(255,255,255,0.2) !important;
    background-color: rgba($primaryColor, 0.2) !important;
    color: $secondaryTextColor;
    border-bottom: none;
  }

}

h6 {
  font-size: 16px;
  color: white;
}

.no-result {
  padding: 16px;
  text-align: center;
  font-size: 18px;
  color: #555;
}

ion-icon {
  &[class*="appname-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.5em;
    height: 1.5em;

  }

  // custom icons
  &[class*="appname-trx"] {
    mask-image: url(../assets/img/cart-white.png);
  }
}



