<ion-menu  type="push" [content]="content">
  <ion-header>
      
    <div class="profile-info" [ngClass]="{loggedin: storage.isLoggedIn()}">
      <div class="profshopicon"><ion-icon name="appname-trx"></ion-icon></div>
      <h6>Perfil de usuario</h6>
      <ion-label class="email" *ngIf="storage.isLoggedIn()">{{storage.getUser().email + " / " + storage.getUser().mobile}}</ion-label>
     
      <!-- <img class="profile-bg-image"/> -->
      <img class="rounded-img" [src]="getImgPath()" (click)="editProfilePic()"/>
      <!-- <ion-icon class="edit-icon" name="create" *ngIf="storage.isLoggedIn()" (click)="editProfilePic()"></ion-icon> -->
   
      <ion-label class="user-name" *ngIf="storage.isLoggedIn()">{{storage.getUser().name + " " + storage.getUser().l_name}}</ion-label>
      
    

      <!-- <ion-label *ngIf="storage.isLoggedIn()">{{storage.getUser().firstname + " " + storage.getUser().lastname}}</ion-label> -->
      <!-- <button menuClose class="login-btn" *ngIf="!storage.isLoggedIn()" (click)="openLoginPage()">Login</button> >
      <h6>Configurar perfìl de usuario</h6-->

     
    </div>
  </ion-header>

  <ion-content class="side-menu side-menu-gradient">
    <ion-list>
      <label *ngFor="let group of pages | keys" >
        <!-- <div class="section" *ngIf="group.value.length > 1">{{group.key}}</div> -->
        <label *ngFor="let page of group.value; let i = index">
          <div class="menu-devider-line" ></div>
          <button *ngIf="isVisibleIfLogin(page)"  menuClose ion-item (click)="openPage(page)" [ngClass]="{'menu-selected': (page.title === selectedMenuItem)}">
            <!--<ion-icon class="icon-menu" name="{{page.icon}}"></ion-icon> -->
            <img class="navicons icon-menu" src="{{page.icon}}" />
            <span class="title-menu">{{page.title | translate}}</span>
            <ion-icon class="menunext" name="arrow-forward"></ion-icon>
          </button>
        </label>
      </label>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<!--<loading-animate></loading-animate>-->
