<app-header [title]="'PLACE ORDER'" [showCart]="false"></app-header>

<ion-content class="page-background">
    <!-- <h2 *ngIf="items && (items.length == 0)" class="no-data-found-msg"> {{ 'NO ITEMS AVAILABLE' | translate }}</h2> -->


    <ion-item-group *ngFor="let byProvider of dataList">
        <ion-item-divider color="light"><b>Provider</b>: {{byProvider.providerName}}</ion-item-divider>
        <ion-item>

            <ion-card *ngFor="let byPayoption of byProvider.data">
                <ion-card-header>

                </ion-card-header>
                <ion-card-content>
                    <ion-list class="items-list">
                        <ion-item *ngFor="let item of byPayoption.items; let idx = index" class="item-remove-animate">
                            <img class="item-image" src="{{getImagePath(item.item.product_img)}}">

                            <div class="item-details">
                                <h2 class="item-name">{{item.item.product_name}}</h2>
                                <div class="item-price"> {{"$" + item.item.price + ' X ' + item.quantity}}</div>
                                <div class="item-price" *ngIf="item.item.supplies && item.item.supplies.length>0">
                                    Supplies
                                    - {{"$" + calculateSuppliesPrice(item.item.supplies) + ' X ' + item.quantity}}
                                </div>
                            </div>
                        </ion-item>

                        <ion-item>

                            <div class="totalling">

                                <div class="row">
                                    <div class="item-left"> {{ 'SUB TOTAL' | translate }} </div>
                                    <div class="item-right">${{getTotalPriceForItems(byPayoption.items)}}</div>
                                </div>

                                <div class="row">
                                    <div class="item-left"> {{ 'DELIVERY' | translate }} </div>
                                    <div class="item-right">${{getDelieveryPriceForItems(byPayoption.items)}}</div>
                                </div>

                                <div class="row total">
                                    <div class="item-left" style="font-weight: bold;"> {{ 'TOTAL' | translate }} </div>
                                    <div class="item-right">
                                        ${{getTotalPriceForItems(byPayoption.items) + getDelieveryPriceForItems(byPayoption.items)}}</div>
                                </div>

                            </div>
                        </ion-item>
                        <div class="dine-option">
                            <div [ngClass]="{'selected': (byPayoption.selectedPaymentModeCode == option.code) ,'normal': (byPayoption.selectedPaymentModeCode != option.code)   }"
                                 *ngFor="let option of byPayoption.payOptions"
                                 (click)="byPayoption.selectedPaymentModeCode = option.code">
                                <!-- <ion-icon name="{{option.icon}}"></ion-icon> -->
                                <label>{{ option.name | translate }}</label>
                            </div>
                        </div>
                        <ion-item>
                            <button class="btn-success btn-block" (click)="proceedOrder(byPayoption)"
                                    block>{{ 'PROCEED ORDER' | translate }}</button>
                        </ion-item>

                    </ion-list>
                </ion-card-content>
            </ion-card>


        </ion-item>
    </ion-item-group>

    <!-- <ion-list class="items-list">

      <ion-item *ngFor="let item of items; let idx = index" class="item-remove-animate">
        <img class="item-image" src="{{getImagePath(item.item.photo)}}">

        <div class="item-details">
          <h2 class="item-name">{{item.item.item_name}}</h2>
          <div class="item-price"> {{item.item.priceinfo.symbol + item.item.price+' X '+item.quantity}}</div>
        </div>
      </ion-item>
    </ion-list>

    <div class="totalling" *ngIf="items.length > 0">

      <div class="row" *ngIf="taxes.subTotal">
        <div class="item-left"> {{ 'SUB TOTAL' | translate }} </div>
        <div class="item-right">{{taxes.subTotal}}</div>
      </div>

      <div class="row" *ngFor="let tax of taxes.taxes_details;">
       <div class="item-left">{{tax.tax_label}}({{(tax.tax_type == "plus")?"+":"-"}}{{tax.tax_value}}%)</div>
       <div class="item-right">{{tax.tax_value_amount}}</div>
     </div>

     <div class="row total" *ngIf="taxes.FloatsubTotal">
       <div class="item-left" style="font-weight: bold;"> {{ 'TOTAL' | translate }} </div>
       <div class="item-right">₹{{taxes.FloatsubTotal}}</div>
     </div>
    </div>

    <div class="dine-option">
      <div [ngClass]="{'selected': (selectedDineOption == option.name) ,'normal': (selectedDineOption != option.name)   }" *ngFor="let option of dineOptions" (click)="selectedDineOption = option.name">
        <ion-icon name="{{option.icon}}"></ion-icon>
        <label>{{ option.name | translate }}</label>
      </div>
    </div> -->


</ion-content>
