page-checkout {

    .dine-option {
        width: 100%;
        padding: 20px 0;
        text-align: center;
        display: flex;
        justify-content: center;

        div {
            width: 150px;
            min-height: 40px;
            margin-right: 10px;
            padding: 3px;
            float: left;
            display: flex;
            flex-flow:column;
            justify-content: center;
            font-size: calc(8px + 1vw);
            font-weight: bold;
            text-transform: uppercase;
            border: 1px solid #fff;

            &:last-child {
                margin-right: 0;
            }
            &.normal {
                background:rgba($darkRedColor, 0.1) !important;
                color: $darkRedColor;
                .icon {
                    color: $darkRedColor;
                }
            }
            &.selected {
                background-color: $darkRedColor;
                color: #fff;
                .icon {
                    color: #fff;
                }
            }
            .icon {
                margin-bottom: 5px;
                font-size: $normalFontSize;
            }
            label {
                display: block;
            }
            .item {
                padding: 8px;
                margin-bottom: 3px;
            }
        }
    }

}
