page-cartview {
  .list.items-list > .item {
    .item-details .stepper {
      float: left;
      margin-top: 3px;
    }
  }

  .btn-success {
    margin-top: 20px;
    float: left;
  }


  .supply-checkbox-container {
    padding: 0px 10px;
    margin-bottom: 16px;

    .supply-checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px;

      ion-checkbox {
        margin-right: 10px;

        .checkbox-icon {
          border-color: $darkRedColor;
        }

        .checkbox-checked {
          background-color: $darkRedColor;
          border-color: $darkRedColor;
        }
      }

      ion-label {
        margin: 4px;
      }

    }
  }


}

