<app-header [title]="'SHOPPING CART'" [showCart]="false"></app-header>

<ion-content class="page-background" padding>
    <h2 *ngIf="items && (items.length == 0)" class="no-data-found-msg">No items available</h2>

    <ion-list class="items-list">
        <ng-container *ngFor="let item of items">
            <ion-item class="item-remove-animate">
                <img class="item-image" src="{{getImagePath(item.item.product_img)}}">

                <div class="item-details">
                    <h2 class="item-name">{{item.item.product_name}}</h2>
                    <div class="item-price"> {{"$" + item.item.price}} </div>
                    <div class="item-price"> {{'DELIVERY' | translate}} ${{item.item.delievery_price}} <span
                            class="right">{{item.item.delivery_time}} min</span></div>

                    <stepper class="stepper" [stepperValue]="item.quantity"
                             (onChange)="item.quantity=$event; quantityChanged(item)"></stepper>

                    <button style="float:right;" clear="" color="danger" icon-only="" ion-button=""
                            class="disable-hover button button-clear" ng-reflect-color="danger"
                            (click)="removeItem(item, idx)">
                        <span class="button-inner">
                          <ion-icon is-active="false" name="trash" role="img" class="icon-ios ion-ios-trash"
                                    aria-label="trash"
                                    ng-reflect-name="trash"></ion-icon>
                        </span>
                        <div class="button-effect"></div>
                    </button>
                </div>
            </ion-item>
            <div *ngIf="item.item.supplies && item.item.supplies.length>0" class="supply-checkbox-container">
                <h6 style="color: #000;">
                    Supplies (Máximo - {{item.item.max_supplies_select}})
                </h6>

                <ion-label *ngFor="let supply of item.item.supplies" class="supply-checkbox">
                    <ion-checkbox [(ngModel)]="supply.selected"
                                  [disabled]="!supply.selected && ifMaxSelected(item.item)"
                                  (ionChange)="suppliesUpdate(item)"></ion-checkbox>
                    <ion-label>{{supply.supplies_name + " - "}} <span>{{supply.supplies_price}}$</span></ion-label>
                </ion-label>
            </div>
        </ng-container>
    </ion-list>

    <div class="totalling" *ngIf="items.length > 0">

        <div class="row total" *ngIf="getTotalPrice()">
            <div class="item-left">
                {{ 'TOTAL' | translate }}
            </div>
            <div class="item-right">
                {{"$" + getTotalPrice()}}
            </div>
        </div>

    </div>
    <button class="btn-success btn-block" (click)="toCheckout()" block>{{ 'PLACE ORDER' | translate }}</button>


</ion-content>
