<app-header [title]="'ADDRESS'" [showCart]="false"></app-header>



<ion-content class="page-background" padding>
	<!--h3>
		<ion-icon color="primary" name="ios-book-outline"></ion-icon>{{'MANAGE ADDRESS BOOK' | translate}}
	</h3-->

	<ion-list>
		<div *ngFor="let address of addresses">
			<ion-item>	
				<h4  *ngIf="address.is_default == '1'" class="primay-tag"> {{'PRIMARY ADDRESS'  | translate}} </h4>
				<button *ngIf="options == 'select_address'" (click)="addressChoose(address)" ion-button icon-only class="check-box-btn" clear>
					<ion-icon *ngIf="selectedAddress.id!=address.id" name="md-radio-button-off"></ion-icon>
					<ion-icon *ngIf="selectedAddress.id==address.id" name="md-radio-button-on"></ion-icon>
				</button>
				
				<div class="left">
					<h4 class="fullname">
						<ion-icon name="ios-contact"></ion-icon>
						{{address.name}}
					<!-- <button *ngIf="options == 'select_address'" (click)="addressChoose(address)" ion-button icon-only class="check-box-btn" clear>
						<ion-icon name="ios-checkmark-circle-outline"></ion-icon>
					</button> -->
				</h4>
				<p class="address">{{combineAddressInSingleLine(address)}}</p>
			</div>
			
			<div class="right"> 
				<button ion-button icon-only clear class="edit-button" [navPush]="addressInfo" [navParams]="{'type':'edit', 'data':address, 'callBack':addressUpdateCallBack}">
					<ion-icon name="ios-create-outline"></ion-icon>
				</button>
				<button ion-button icon-only class="remove-button" (click)="removeAddress(address)">
					<ion-icon name="ios-trash-outline"></ion-icon>
				</button>
			</div>

		
			<button class="btn-success btn-block" [navPush]="addressInfo" [navParams]="{'type':'view', 'data':address}">{{'VIEW' | translate}}</button>
		
				<!-- <h4 class="fullname"><ion-icon name="ios-contact"></ion-icon>
					{{address.fullname}}
					<button *ngIf="options == 'select_address'" (click)="addressChoose(address)" ion-button icon-only class="check-box-btn" clear>
						<ion-icon name="ios-checkmark-circle-outline"></ion-icon>
					</button>
				</h4>
				<p [innerHTML]="combineAddress(address)"></p>      
				<button ion-button icon-left color="dark" clear class="action-btn" [navPush]="addressInfo" [navParams]="{'type':'edit', 'data':address}">
					<ion-icon name="ios-create-outline"></ion-icon>
					Edit
				</button>
				<button ion-button icon-left color="danger" clear class="action-btn" (click)="removeAddress(address)">
					<ion-icon name="ios-trash-outline"></ion-icon>
					Delete
				</button> -->
			</ion-item>
		</div>


	</ion-list>

	<ion-fab right bottom #fab >
		<button ion-fab mini [navPush]="addressInfo" [navParams]="{'type':'add', 'callBack':addressAddCallBack}"><ion-icon name="add"></ion-icon></button>
		<!-- <ion-fab-list side="top" style="right: 10px;bottom: -10px;">
			<button ion-fab (click)="closeFabMenu(fab)" [navPush]="addressInfo" [navParams]="{'type':'add', 'callBack':addressAddCallBack}"><ion-icon name="ios-map-outline"></ion-icon></button>
		</ion-fab-list>
		<ion-fab-list side="left" style="top: -20px;right: -10px;">
			<button ion-fab (click)="closeFabMenu(fab)" [navPush]="addressInfo" [navParams]="{'type':'add-currentlocation', 'callBack':addressAddCallBack}"><ion-icon name="ios-navigate-outline"></ion-icon></button>
		</ion-fab-list> -->
	</ion-fab>

</ion-content>
