page-address {
	h3{
		font-weight: bold!important;
		font-size: 18px!important;
		margin: 20px 0;
		color: $secondaryTextColor;
		text-transform: uppercase;
		text-align: center;
		.icon {
			color: $secondaryTextColor;
			margin-right: 10px;
		}
	}
	.content-md {
		color: #000;
		background-color: #fff !important;
	}

	.list .item {
		padding-left: 0 !important;
		border-radius: 3px;
		margin-bottom: 10px;
		.item-inner {
			padding: 0;
			border-bottom: none;
			.label {
				margin: 0;
			}

			.primay-tag {
				padding: 10px;
				color: $secondaryTextColor;
			}

			.check-box-btn {
				position: relative;
				float: left;
				color: $secondaryTextColor;
				margin-top: 11px;
			}

			.left {
				float: left;
				width: calc(100% - 60px);
				padding: 15px 10px;
				.fullname {
					color: $secondaryTextColor;
					font-size: 16px;
					text-overflow: ellipsis;
					overflow: hidden;
					.icon {
						margin-right: 10px;
					}
				}
				.address{
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.right {
				position: absolute;
				right: 10px;
				bottom: 35px;
				float: right;
				width: 60px;
				text-align: right;
				.edit-button {
					color: $secondaryTextColor;
				}
				.remove-button {
					background-color: transparent;
					color: $secondaryTextColor;
					box-shadow: none;
				}
			}
			.view-button {
				clear: both;
				float: left;
				margin-bottom: 0;
				background-color: $darkRedColor;
			}
			
			
		}
	}
	
	button.fab {
		background-color: $darkRedColor;
		color: $primaryTextColor;
	}
	
}
