page-choose-table {
    .cell {
        align-items: center;
        background-color: transparent;
        display: flex;
        flex-flow: column nowrap;
        height: 130px;
        width: 100%;
        padding: 5px;
    }

    .cell .image-conatiner{
        width: 80px;
        height: 80px;
        padding: 15px;
        position: relative;
        border-radius: 50px;
        background-color: white;

    }

    .cell .image-conatiner .table-img {
        width: 100%;
        height: 100%;
        float: left;
        background-size:     cover;                     
        background-repeat:   no-repeat;
        background-position: center center; 
    }

    .cell .image-conatiner.normal {
     background-color: white;
     border:1px solid #FF9900;
 }
 .cell .image-conatiner.normal .table-img{
     background-image: url('../assets/img/table-yellow.png');
 }
 .cell .image-conatiner.book {
     background-color: #FF9900;
     border:1px solid #FFFFFF
 }
 .cell .image-conatiner.book .table-img{
     background-image: url('../assets/img/table-white.png');
 }

 .cell .label-text {
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: $normalFontSize;
}


.bottom-item {
   align-items: center;
   display: flex;
   flex-flow: column nowrap;
   padding: 10px;
   text-align: center;
}

.table-info-view {
    padding: 10px;
    color: #FFFFFF;
    font-size: $normalFontSize;
    display: flex;
    align-items: baseline;
}
.table-info-view *{
    float: left;
}
.table-info-view .circle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}



.book-now-btn {
    background-color:#FF9900 ;
}

}
