<app-header [title]="'CHOOSE TABLE'" [showCart]="false"></app-header>

<ion-content class="page-background">
	<h2 *ngIf="tables && (tables.length == 0)" class="no-data-found-msg">No table available for now</h2>

	<ion-grid *ngIf="tables && (tables.length > 0)">
		<ion-row wrap>
			<ion-col width-33 *ngFor="let tableData of tables">
				<div class="cell" (click)="tableSelect(tableData)">
					<div class="image-conatiner" [ngClass]="{'normal': !tableData.book ,'book': tableData.book }">
						<div class="table-img"></div>
					</div>
					<label class="label-text">Table-{{tableData.table_no}}</label>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>                                 
	
	<div class="bottom-item" *ngIf="tables && (tables.length > 0)">
		<button ion-button class="book-now-btn" (click)="bookNow()">Book Now</button>
		<div class="table-info-view">
			<label>Total Table's = {{tables.length}} &nbsp;/&nbsp;</label>
			<div class="circle" style="background-color: #FFFFFF;"></div>
			<label> &nbsp;Available&nbsp;/&nbsp;</label>
			<div class="circle" style="background-color: #FF9900;"></div>
			<label>&nbsp;Book</label>
		</div>
	</div>

</ion-content>
