<app-header [title]="'WALLET'"></app-header>



<ion-content class="page-background" padding>
	<ion-list>
		<ion-item *ngIf="userType == 'Wallet' && walletInfo">
			<img src="./assets/img/rupee_bag-512.png" />
			<div>
				{{ 'WALLET BALANCE' | translate }}
			</div>
			<div>
				₹{{(walletInfo.show)?walletInfo.show:0}}
			</div>
		</ion-item>


	</ion-list>
	
	<ion-item *ngIf="userType == 'Wallet' && walletInfo && walletInfo.last_transation" class="wallet-transactions" [navPush]="walletTransactions" [navParams]="{'last-transaction':walletInfo.last_transation}">
		<img src="./assets/img/transaction_icon.png" />
		<div>
			{{ 'WALLET TRANSACTIONS' | translate }}
		</div>
		<ion-icon name="arrow-forward"></ion-icon>
	</ion-item>
</ion-content>
