page-wallet {
	.list {
		.item {
			border: 1px solid #ccc;
			margin-top: 10px;
			border-radius: 5px;
			.label {
				display: flex;
				align-items: center;
				img:nth-child(1) {
					width: 50px;
					height: 25px;
					float: left;
					object-fit: contain
				}
				div:nth-child(2) {
					float: left;
					width: calc(100% - 25px - 80px);
					margin-left: 10px;
				}
				div:nth-child(3) {
					float: left;
					width: 80px;
					color:#019002;
					text-align: right
				}
			}
		}		

	}

	.wallet-transactions {
		margin-bottom: 0;
		border: 1px solid #ccc;
		border-radius: 5px;
		bottom: 10px;	
		display: flex;
		position: absolute;
		left: 16px;
		right: 16px;
		bottom: 16px;
		width: auto;

		.label {
			display: flex;
			align-items: center;
			img:nth-child(1) {
				width: 50px;
				height: 25px;
				float: left;
				object-fit: contain
			}
			div:nth-child(2) {
				float: left;
				width: calc(100% - 25px - 40px);
				margin-left: 10px;
			}

		}
	}	
}
