<app-header [title]="'PAYMENT OPTIONS'" [showCart]="false"></app-header>



<ion-content class="page-background" padding>
	<ion-list>

		<ion-item>
			<!-- <div class="left" *ngIf="userType == 'Wallet'">Wallet Balance </div><div *ngIf="userType == 'Wallet'" class="right">₹{{walletAmount}}</div> -->
			<div class="left">{{ 'ORDER AMOUNT' | translate }} </div><div  class="right">₹{{orderData.amount.toFixed(2)}}</div>
		</ion-item>
		
		<!-- <ion-item  class="wallet-option" *ngIf="userType == 'Wallet' && walletAmount > 0">
		<ion-label>Use your <span>₹{{deductedWalletAmount}}</span> wallet balance </ion-label>
			<ion-checkbox color="dark"  [(ngModel)]="walletOptionFlag" (ionChange)="setWalletOption()"></ion-checkbox>
		</ion-item> -->	
	</ion-list>

	<!-- <button class="btn-success btn-block" *ngIf="userType == 'Wallet' && walletInfo && walletInfo.full >= orderData.amount" (click)="paymentWithWallet()">
		Wallet
	</button> -->
	
	<!-- <button class="btn-success btn-block" (click)="payByBank()" *ngIf="remainingAmount > 0">
		Credit/debit card & Netbanking
	</button> -->


	
	<div class="payment-button" *ngIf="userType == 'Wallet'" (click)="paymentWithWallet()">
		<img src="./assets/img/wallet.png" />
		<div>
			{{ 'WALLET' | translate }}
		</div>		
		<div>
		₹{{walletAmount}}
		</div>	
	</div>

	<div class="payment-button" (click)="payByBank()">
		<img src="./assets/img/visacar.png" />
		<div>
			{{ 'PAY ONLINE' | translate }}
		</div>			
	</div>



</ion-content>
