page-paymentoptions {
	.list {
		border-radius: 5px;
		overflow: hidden;
		margin: 0;
		.item {
			margin-top: 10px;
			margin-bottom: 15px;
			border-radius: 5px;
			background-color: #fff;
		}

		.item-button {
			background-color: deepskyblue;
		}
		.left,.right {
			width: 50%;
			height: 30px;
			line-height:30px;
		}
		.left {
			clear: both;
			float: left;
			font-weight: bold;
		}
		.right {
			float: right;
			color:#019002;
		}

		.wallet-option {
			width: 100%;
			clear: both;
			display: flex;
			align-items: center;
			.label {
				float: left;
				width: auto;
				span {
					color: #019002;
				}
			}
			.checkbox {
				float: left;
				margin-right: 10px;
			}
		}
	}
	.btn-success {
		letter-spacing:normal;
		margin-top: 10px;
	}

	
	.payment-button {
		width: 100%;
		padding: 8px;
		background-color: #fff;
		border: 1px solid #ccc;
		margin-top: 10px;
		border-radius: 5px;
		display: flex;
			align-items: center;
			img:nth-child(1) {
				width: 50px;
				height: 25px;
				float: left;
				object-fit: contain
			}
			div:nth-child(2) {
				float: left;
				width: calc(100% - 25px - 80px);
				margin-left: 10px;
			}
			div:nth-child(3) {
				float: left;
				width: 80px;
				color:#019002;
				text-align: right
			}
	}
}
