page-orders {

  .bill-request-message {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #666;
    font-weight: 500;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
  }

  .content-md {
    color: #000;
    background-color: #fff !important;
  }

  .item-extra-detail {
    color: #999;
    font-size: 12;
  }

  .section {
    float: left;
    width: 100%;
    height: 40px;
    background-color: $darkRedColor;
    margin: 5px 0;
    color: #fff;
    padding: 0 10px;
    font-size: $normalFontSize;
    line-height: 40px;
  }

  .list.items-list > .item {
    .item-details {
      .devider-line {
        clear: both;
        width: 100%;
        height: 1px;
        background-color: #444;
        margin: 5px 0 5px 5px;
      }

      .item-total-show {
        float: left;
        color: #333;
        font-size: 11px;
      }
    }
  }

  .orders-footer {
    padding: 15px;

    &:before {
      background-image: none;
    }
  }

}


