<app-header [title]="'ORDERS'"></app-header>


<ion-content padding class="page-background">

	<h2 *ngIf="ordersList && (ordersList.length == 0)" class="no-data-found-msg">
		<!--{{ 'NO ORDERS FOUND' | translate }}-->
	</h2>

	<!-- <div *ngIf="(orderStatus > 0 && orderStatus != 3)" class="bill-request-message">
		{{ 'YOUR BILL IS ON THE WAY' | translate }}
	</div> -->

	<label *ngFor="let order of ordersList">

		<div class="section">
			<div class="left">{{'ORDER' | translate}} #{{order.id}}</div>
			<div class="right">{{order.created_at}}</div>
		</div>

		<ion-list class="items-list">

			<ion-item *ngFor="let item of order.items">
				<img class="item-image" src="{{getImagePath(item.product_img)}}">
				<div class="item-details">
					<h2 class="item-name">{{item.product_name}}</h2>
					<h3 class="item-extra-detail" *ngIf="item.extra_detail">{{item.extra_detail}}</h3>
					<div class="item-price">${{getProductPrice(item)+' X '+item.quantity}}</div>
					<div class="item-price" *ngIf="item.supplies && item.supplies.length>0">
						Supplies
						- {{"$" + calculateSuppliesPrice(item.supplies) + ' X ' + item.quantity}}
					</div>
					<div class="devider-line"></div>
					<div class="item-total-show">TOTAL - &nbsp;${{getProductTotalPrice(item)}}</div>
				</div>
			</ion-item>
			<div class="totalling">

				<div class="row">
					<div class="item-left"> {{ 'ORDER STATUS' | translate }} </div>
					<div class="item-right">{{(order.order_status=='create'?'PROCESSING':'COMPLETE') | translate}}</div>
				</div>

				<div class="row">
					<div class="item-left"> {{ 'PAYMENT METHOD' | translate }} </div>
					<div class="item-right">{{order.payment_method_name}}</div>
				</div>

				<div class="row">
					<div class="item-left">{{ 'SUB TOTAL' | translate }}</div>
					<div class="item-right">${{getTotalPriceForItems(order.items)}}</div>
				</div>

				<div class="row">
					<div class="item-left">{{ 'DELIVERY' | translate }}</div>
					<div class="item-right">${{getDelieveryPriceForOrder(order)}}</div>
				</div>

				<div class="row total">
					<div class="item-left" style="font-weight: bold;">{{ 'TOTAL' | translate }}</div>
					<div class="item-right">${{getTotalPriceForOrder(order)}}</div>
				</div>
			</div>
		</ion-list>
	</label>




</ion-content>
<ion-footer class="orders-footer">
	<button class="btn-success btn-block"(click)="continue()">{{ 'CONTINUE' | translate }}</button>
	<div style="height:5px;width: 100%;"></div>
	<button class="btn-success btn-block" (click)="openHistory()">{{ 'HISTORY' | translate }}</button>
</ion-footer>
