page-payment-error {
	.content {
		.error {
			clear: both;
			float: left;
			display: flex;
			align-items: center;
			.icon {
				color: red;
				font-size: 28px;	
				float: left;
			}
			.label {
				float: left;
				color: red;
				margin-left: 15px;
				font-size: 16px;
				width: 80%;
				display: block;
				white-space: normal;
			}
		}
		.reason,.suggestion {
			clear: left;
			float: left;
			width: 100%;
			padding: 5px 0;
			div {
				&:first-child {
					float: left;
					width: 80px;
					color: $tertiaryTextColor;
				}
				&:last-child {
					float: left;
					width: calc(100% - 80px);
				}
			}
		}
	}
}
