<app-header [title]="'Payment Failed'" [showCart]="false" [hideBackButton]="true"></app-header>



<ion-content padding>
	  <div class="error">
	  	<ion-icon name="ios-close-circle"></ion-icon>
	  	<ion-label>Your transaction could not be processed.</ion-label>
	  </div>

	  <div class="reason">
	  	<div>Reason</div>
	  	<div>The system is currently unavailable.</div>
	  </div>

	  <div class="suggestion">
	  	<div>Suggestion</div>
	  	<div>Please try again.</div>
	  </div>
	  	<button class="retry-button" (click)="retry()" >Retry</button>

</ion-content>
