<ion-content>
    <div *ngIf="item">
        <ion-item class="header-section">
            <div>
                <!-- <ion-icon name="heart" item-left></ion-icon> -->
                <span class="centerd">{{item.category_name}}</span>

                <ion-thumbnail item-left>
                    <img src="{{getImagePath(item.product_img)}}">
                </ion-thumbnail>
                <h2>{{item.product_name}}</h2>
                <p>
                    <span class="price" [ngClass]="{'cutprice':item.promotional_price}"> {{"$" + item.price}}</span>
                    &nbsp;
                    <span class="price" *ngIf="item.promotional_price"> {{"$" + item.promotional_price}}</span>
                </p>
            </div>
        </ion-item>

        <div class="info">
            <p padding>{{(item.long_description.length == 0) ? item.short_description : item.long_description}}</p>
        </div>

        <ion-item class="item-borderless stat-input">
            <div style="display: flex;flex-direction: row;justify-content: space-between;">
                <stepper [(stepperValue)]="qty" [title]="'QUANTITY'" (onChange)="qty=$event"></stepper>

                <button class="btn-success" style="padding: 3px 12px;font-weight: bold;" (click)="showDetailInputBox()">
                    <ion-icon slot="start" name="add" color="#fff"></ion-icon>
                    {{"DETAILS" | translate}}
                </button>
            </div>
        </ion-item>

        <ion-item>
            <div class="item-price"> {{'DELIVERY' | translate}} ${{item.delievery_price}} <span
                    class="right">{{item.delivery_time}} min</span></div>
        </ion-item>

        <ion-list *ngIf="item.supplies && item.supplies.length>0">

            <ion-list-header>
                Supplies (Máximo - {{item.max_supplies_select}})
            </ion-list-header>

            <ion-item *ngFor="let supply of item.supplies" class="supplies_item">
                <ion-label>{{supply.supplies_name + " - "}} <span>{{supply.supplies_price}}$</span></ion-label>
                <ion-checkbox [(ngModel)]="supply.selected"
                              [disabled]="!supply.selected && ifMaxSelected()"></ion-checkbox>
            </ion-item>
        </ion-list>

        <div padding class="add">
            <button class="btn-success btn-block" (click)="toCart()" block>{{ 'ADD TO CART' | translate }}</button>
            <br/>
            <button class="btn-success btn-block" (click)="toList()" block>{{ 'CANCEL' | translate }} </button>
        </div>

    </div>

</ion-content>
