page-itemdetails {
  .content .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  span.centerd {
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    top: 22px;
    text-align: center;
  }

  [item-right] {
    float: right;
  }

  .price {
    color: #86D44D;
  }

  .header-section ion-icon {
    position: relative;
    z-index: 2;
    color: #fff;
  }

  .header-section ion-icon:first-child {
    margin-left: 20px;
  }

  .header-section ion-icon:nth-child(2) {
    margin-right: 20px;
  }

  .header-section ion-thumbnail img {
    max-width: unset !important;
    max-height: unset !important;
    width: 100% !important;
    opacity: 0.5;
  }

  .header-section ion-thumbnail {
    min-width: 5.6rem;
    min-height: 5.6rem;
    // position: absolute;
    // top: 0;
    // height: 180px;
    width: 100%;
    margin: 0 !important;
  }

  .item ion-thumbnail img {
    height: auto;
  }

  .header-section .label {
    margin: 0;
    padding: 0;
  }

  .header-section.item-block.item {
    padding-left: 0;
  }

  .header-section.item-block.item .item-inner {
    padding-right: 0;
    background: #000;
  }

  .header-section h2 {
    position: absolute;
    z-index: 2;
    // margin-top: 60px;
    padding: 0 20px;
    width: 100%;
    bottom: 24px;
    white-space: normal;
    color: #fff;
  }

  .header-section p {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    padding: 0 20px;
    white-space: normal;
  }

  .add input {
    border-radius: 4px;
    box-shadow: 0 0 10px -5px #777 inset;
    -webkit-box-shadow: 0 0 10px -5px #777 inset;
    height: 35px;
    width: 100% !important;
    margin-left: 0;
  }

  .info p {
    margin: 0 !important;
    color: #777;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    padding-bottom: 0;
  }

  .supplies_item {
    ion-checkbox {
      .checkbox-checked {
        background-color: $darkRedColor;
        border-color: $darkRedColor;
      }
    }
  }
}
