app-header {


  margin-top: 0;

  .toolbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    float: left;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    text-align: center;
    position: absolute !important;
    vertical-align: middle;
    left: 0;
    top: 0;
    display: flex;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #424242;
    // background-color: #90030a;
    width: 50px;
    height: 50px;
    //
    &.menu-btn {
      border-radius: 25px;
      box-shadow: 1px 1px 15px #000;
      margin: 8px;
      width: 46px;
      height: 46px;
    }
  }

  .title .toolbar-title {
    color: $primaryTextColor;
  }


  .toolbar {
    .toolbar-background {
      background: $headerBackgroundColor;
    }
  }

  .header {
    border-bottom: none;
  }

  .cart-icon-container {
    float: right;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-right: 10px;
  }

  .cart-count {
    border: 1px solid $primaryColor;
    color: $primaryColor;
    border-radius: 10px;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    width: 18px;
    display: block;
    z-index: 111;
    background-color: white;
    margin-left: 20px;
    margin-top: -6px;
  }

  .cart-ion {
    font-size: 30px;
    margin: 0;
    margin-top: -14px;
    color: $primaryTextColor;
  }

  .bar-button-menutoggle ion-icon {
    color: $primaryTextColor;
    background-color: $primaryColor;
  }

  ion-icon {
    &[class*="appname-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 40px;
      height: 40px;
    }

    // custom icons
    &[class*="appname-trx"] {
      mask-image: url(../assets/img/cart-white.png);
    }
  }


  .back-button {
    color: $primaryTextColor;
    z-index: 2;
  }
}
