<ion-header>
    <ion-navbar hideBackButton="{{hideBackButton}}">
        <button ion-button menuToggle class="menu-btn">
            <ion-icon name="ios-menu"></ion-icon>
        </button>
        <ion-title class="title">{{title | translate}}</ion-title>
        <!--img  src="../assets/img/snappy-let.png" width="40%" height="40%"-->

        <ion-buttons end>
            <div class="cart-icon-container" *ngIf="showCart" (click)="checkForCartItems()">
                <span class="cart-count">{{ itemsCount }}</span>
                <ion-icon class="cart-ion" name="appname-trx"></ion-icon>
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
